Introduction and Business Question.
This cell will be used to write the prompt and the 3 business questions to this problem

1. (For users) What are the top factors that affects pricing? (Location, calendar time, amenities or reviews?)
2. (For hosts) What makes a good Airbnb? What factors do better reviews lodging have in common? What helps to get people to give good reviews?
3. (For both) When (should you book in advanced) is the busiest time in Seattle?
    - may need to get Seattle holidays and events
    
Link to Medium post: <a href="https://www.google.com/">yeah</a>

In [15]:
# imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud, STOPWORDS
%matplotlib inline

# Directory browsing
import os
print(os.listdir('data'))
PROJECT_DIR = "." # os.getcwd()
DATA_DIR = PROJECT_DIR + '/data/'
DATA_DIR

['reviews.csv', 'listings.csv', 'calendar.csv']

'./data/'

In [24]:
# retrieve Data
cal_df = pd.read_csv(DATA_DIR+'calendar.csv')
listings_df = pd.read_csv(DATA_DIR+'listings.csv')
reviews_df = pd.read_csv(DATA_DIR+'reviews.csv')

print(cal_df)
cal_df.sample(10)

         listing_id        date available    price
285546      6705584  2016-04-29         t  $105.00
1201400      158345  2016-07-07         t   $55.00
1119948      260613  2016-05-11         t  $135.00
105221      6466388  2016-04-14         t   $59.00
1036320     4077920  2016-03-29         f      NaN
8377        8942678  2016-12-16         t  $450.00
256312      8939503  2016-03-26         t   $49.00
530499      8068232  2016-06-06         t  $250.00
1049939     1775016  2016-07-21         f      NaN
409617      6363779  2016-03-31         f      NaN

In [51]:
listings_df.sample(5)
# drop listing_url, scrape_id, last_scraped

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
2346,10188794,https://www.airbnb.com/rooms/10188794,20160104002432,2016-01-04,Bright Brand New Apartment,"One block from Lake Washington, close to Sewar...",Brand New Seward Park Apartment New Everything...,"One block from Lake Washington, close to Sewar...",none,You are five minutes (by car) away from Columb...,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
2859,8050232,https://www.airbnb.com/rooms/8050232,20160104002432,2016-01-04,Studio apartment on lower cap hill,5 min walk to downtown and only 5 min from the...,It's in the heart of the city. Central locatio...,5 min walk to downtown and only 5 min from the...,none,It's directly between the culture rich capitol...,...,7.0,f,NaN,WASHINGTON,t,flexible,f,f,1,2.48
2760,1562643,https://www.airbnb.com/rooms/1562643,20160104002432,2016-01-04,Renovated 1904 Capitol Hill classic,Stylishly renovated 1904 Capitol Hill home. Mi...,Beautiful renovated 1904 Capitol Hill classic ...,Stylishly renovated 1904 Capitol Hill home. Mi...,none,"Eclectic, colorful and convenient neighborhood...",...,9.0,f,NaN,WASHINGTON,f,flexible,f,f,3,1.76
2691,5030361,https://www.airbnb.com/rooms/5030361,20160104002432,2016-01-04,Vibrant Lively Urban Retreat,Private bed/bath. Luxury in trendy heart of Se...,NOTE: Please let me know a little bit about yo...,Private bed/bath. Luxury in trendy heart of Se...,none,Capitol Hill is Seattle's most prominent night...,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,1,4.98
75,3038772,https://www.airbnb.com/rooms/3038772,20160104002432,2016-01-04,"Cozy Private Room, Bath and Patio","Comfy captain's bed in a home, in the heart of...","The room is small, but has all the amenities y...","Comfy captain's bed in a home, in the heart of...",none,"Ballard is a destination point in Seattle, wit...",...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,1,4.43

In [34]:
reviews_df.sample(10)

,listing_id,id,date,reviewer_id,reviewer_name,comments
59995,9347157,56770680,2015-12-18,2849142,Jerry,The host canceled this reservation 193 days be...
71961,5470943,38262558,2015-07-14,2081540,Anne,A gem of an apartment in a perfect location! ...
16160,910784,26953721,2015-02-22,27298682,Mandy,very nice house to，stay~close to downtown and ...
6721,523883,19987673,2014-09-21,17420747,Kathleen,Kate's place was small but very welcoming. Th...
80725,6675927,37677252,2015-07-09,817507,Mary,Jon is a fantastic host. His place is clean an...
27097,6691873,39199072,2015-07-21,36671849,Jordan,My fiancee and I stayed in Becca's for two nig...
53500,30712,1661236,2012-07-08,2802249,Michael,We had an excellent stay at Al's cozy Ballad a...
44628,619366,34849770,2015-06-13,27634938,Ilyoung,The apartment is absolutely amazing.\nMy frien...
78541,6746826,56195748,2015-12-10,2493722,Tom & Hannah,The place was really excellent. It's very well...
31067,59838,28985510,2015-04-02,23829766,Hemant,We arrived late at night after 11:00pm and wer...

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 92 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                3818 non-null   int64
 1   listing_url                       3818 non-null   object
 2   scrape_id                         3818 non-null   int64
 3   last_scraped                      3818 non-null   object
 4   name                              3818 non-null   object
 5   summary                           3641 non-null   object
 6   space                             3249 non-null   object
 7   description                       3818 non-null   object
 8   experiences_offered               3818 non-null   object
 9   neighborhood_overview             2786 non-null   object
 10  notes                             2212 non-null   object
 11  transit                           2884 non-null   object
 12  thumbnail_url                     3498 non-null   object
 13  medium_url                        3498 non-null   object
 14  picture_url                       3818 non-null   object
 15  xl_picture_url                    3498 non-null   object
 16  host_id                           3818 non-null   int64
 17  host_url                          3818 non-null   object
 18  host_name                         3816 non-null   object
 19  host_since                        3816 non-null   object
 20  host_location                     3810 non-null   object
 21  host_about                        2959 non-null   object
 22  host_response_time                3295 non-null   object
 23  host_response_rate                3295 non-null   object
 24  host_acceptance_rate              3045 non-null   object
 25  host_is_superhost                 3816 non-null   object
 26  host_thumbnail_url                3816 non-null   object
 27  host_picture_url                  3816 non-null   object
 28  host_neighbourhood                3518 non-null   object
 29  host_listings_count               3816 non-null   float64
 30  host_total_listings_count         3816 non-null   float64
 31  host_verifications                3818 non-null   object
 32  host_has_profile_pic              3816 non-null   object
 33  host_identity_verified            3816 non-null   object
 34  street                            3818 non-null   object
 35  neighbourhood                     3402 non-null   object
 36  neighbourhood_cleansed            3818 non-null   object
 37  neighbourhood_group_cleansed      3818 non-null   object
 38  city                              3818 non-null   object
 39  state                             3818 non-null   object
 40  zipcode                           3811 non-null   object
 41  market                            3818 non-null   object
 42  smart_location                    3818 non-null   object
 43  country_code                      3818 non-null   object
 44  country                           3818 non-null   object
 45  latitude                          3818 non-null   float64
 46  longitude                         3818 non-null   float64
 47  is_location_exact                 3818 non-null   object
 48  property_type                     3817 non-null   object
 49  room_type                         3818 non-null   object
 50  accommodates                      3818 non-null   int64
 51  bathrooms                         3802 non-null   float64
 52  bedrooms                          3812 non-null   float64
 53  beds                              3817 non-null   float64
 54  bed_type                          3818 non-null   object
 55  amenities                         3818 non-null   object
 56  square_feet                       97 non-null     float64
 57  price                             3818 non-null   object
 58  weekly_price                      2009 non-null   object
 59  monthly_price                     1517 non-null   object
 60  security_deposit                  1866 non-null   object
 61  cleaning_fee                      2788 non-null   object
 62  guests_included                   3818 non-null   int64
 63  extra_people                      3818 non-null   object
 64  minimum_nights                    3818 non-null   int64
 65  maximum_nights                    3818 non-null   int64
 66  calendar_updated                  3818 non-null   object
 67  has_availability                  3818 non-null   object
 68  availability_30                   3818 non-null   int64
 69  availability_60                   3818 non-null   int64
 70  availability_90                   3818 non-null   int64
 71  availability_365                  3818 non-null   int64
 72  calendar_last_scraped             3818 non-null   object
 73  number_of_reviews                 3818 non-null   int64
 74  first_review                      3191 non-null   object
 75  last_review                       3191 non-null   object
 76  review_scores_rating              3171 non-null   float64
 77  review_scores_accuracy            3160 non-null   float64
 78  review_scores_cleanliness         3165 non-null   float64
 79  review_scores_checkin             3160 non-null   float64
 80  review_scores_communication       3167 non-null   float64
 81  review_scores_location            3163 non-null   float64
 82  review_scores_value               3162 non-null   float64
 83  requires_license                  3818 non-null   object
 84  license                           0 non-null      float64
 85  jurisdiction_names                3818 non-null   object
 86  instant_bookable                  3818 non-null   object
 87  cancellation_policy               3818 non-null   object
 88  require_guest_profile_picture     3818 non-null   object
 89  require_guest_phone_verification  3818 non-null   object
 90  calculated_host_listings_count    3818 non-null   int64
 91  reviews_per_month                 3191 non-null   float64
dtypes: float64(17), int64(13), object(62)
memory usage: 2.7+ MB

In [32]:
df.columns[df.isna().all()]

Index(['license'], dtype='object')

Prepare data:
- Gather necessary data to answer your questions
- Handle categorical and missing data
- Provide insight into the methods you chose and why you chose them

In [54]:
# remove all columns with only 1 value or all distinct values
# remove all columns/rows with ALL null?
cols = ['id','name','summary','space','description','instant_bookable',
        'neighborhood_overview','neighbourhood_cleansed','host_id','host_name','host_since',
        'host_response_time','review_scores_rating','property_type','room_type',
        'accommodates','bathrooms','bedrooms','beds','reviews_per_month','amenities','cancellation_policy','number_of_reviews','price']
print(len(cols))
cleaned_list_df = listings_df[cols]
cleaned_list_df.sample(5)

24

,id,name,summary,space,description,instant_bookable,neighborhood_overview,neighbourhood_cleansed,host_id,host_name,...,room_type,accommodates,bathrooms,bedrooms,beds,reviews_per_month,amenities,cancellation_policy,number_of_reviews,price
3398,5444457,Bed&Bath in Charming Craftsman Home,This private Bed&Bath is located in a ...,This private Bed & private Bath very comfortab...,This private Bed&Bath is located in a ...,f,"Our neighborhood is bright, quiet, and very sa...",Phinney Ridge,1195323,Celia,...,Private room,2,1.0,1.0,1.0,1.56,"{TV,""Cable TV"",""Wireless Internet"",""Air Condit...",flexible,15,$90.00
3211,5306727,Cozy 1BD in the heart of the city,I am renting out my cozy 1 bedroom with master...,My apartment is a 2 bed 2 bath with shared liv...,I am renting out my cozy 1 bedroom with master...,f,Queen Anne is a quite neighborhood and my apar...,Lower Queen Anne,15611795,Santosh,...,Private room,2,1.0,1.0,1.0,0.64,"{TV,""Cable TV"",Internet,""Wireless Internet"",""W...",flexible,6,$99.00
2618,1768883,Bright + Colorful in Capitol Hill,This two bedroom apartment sits high above the...,"A few notes on our home: - It's our home, we l...",This two bedroom apartment sits high above the...,f,The house is located smack in the middle of th...,Broadway,9263662,Katrina,...,Entire home/apt,4,1.0,2.0,2.0,0.22,"{Internet,""Wireless Internet"",Kitchen,""Pets li...",strict,6,$175.00
1617,5036739,Spacious Studio Condo,"Spacious Studio Condo, located just steps from...",NaN,"Spacious Studio Condo, located just steps from...",f,NaN,First Hill,25999682,Coleen,...,Entire home/apt,4,1.0,0.0,1.0,NaN,"{Kitchen,""Elevator in Building"",Heating,""Famil...",flexible,0,$250.00
131,3121829,Kid friendly townhouse near it all,"Just 4 blocks away from the Ballard library, m...",Our townhouse has it all. A work out area (yog...,"Just 4 blocks away from the Ballard library, m...",f,Ballard is the best. A new brewery opens month...,Adams,4152568,Barrie,...,Entire home/apt,4,2.5,3.0,2.0,0.34,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",moderate,6,$100.00

In [49]:
# numerical columns
listings_df.dtypes == 'object'
['neighborhood_overview', '']

id                                  False
listing_url                          True
scrape_id                           False
last_scraped                         True
name                                 True
                                    ...
cancellation_policy                  True
require_guest_profile_picture        True
require_guest_phone_verification     True
calculated_host_listings_count      False
reviews_per_month                   False
Length: 92, dtype: bool

In [ ]:
# categorical columns

Analyze, Model, and Visualize \
Provide a clear connection between your business questions and how the data answers them

## Q1. (For users) What are the 3 top factors that affects pricing? 
We're considering typical factors like Location, time of year, and what the Airbnb provides.

Link: https://www.airbnb.com/help/article/125/how-pricing-works

Further tax in Washington: https://www.airbnb.com/help/article/2336/occupancy-tax-collection-and-remittance-by-airbnb-in-washington

In [ ]:
# CLEAN: 

# LABEL : PRICING
# Histogram of prices

In [ ]:
'''
NLP Wordcloud for 2 things:
1. listing description, name, summary, 


Group:
- Location
- Time of year

Histogram of prices

'''

In [ ]:
# Conclusion:
# TOP 5 factors here

## Q2. (For hosts) What makes a popular Airbnb?
What makes a good Airbnb? What factors do better reviews lodging have in common? What helps to get people to give good reviews?

In [ ]:
# DEFINITION
'''
'popular' means to be 
- highly booked (count num of times per year)
- average review is in 3.5 > stars
'''

In [ ]:
'''

'''

## Q3. (For both) When (should you book in advanced) is the busiest time in Seattle?
- may need to get Seattle holidays and events